{% extends 'base.html.twig' %}

{% block title %}
    {{ serie.name }} |{{ parent() }}
{% endblock %}

{% block extrastyles %}
    <style>
        body {
            background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url("{{  asset('img/backdrops/' ~ serie.backdrop)  }}");
        }
    </style>
{% endblock %}

{% block body %}
    <section class="serie-details">
        <div>
            <img src="{{ asset('img/posters/series/' ~ serie.poster) }}" alt="Poster of {{ serie.name }}">
        </div>
        <div class="serie-details-infos">
            <h2>{{ serie.name }}</h2>


            <div>Release date : {{ serie.firstAirDate | date('d/m/Y') }}</div>
            <div>Popularity : {{ serie.popularity }}</div>
            <div>Vote : {{ serie.vote }}</div>
            <div>{{ serie.overview|nl2br }}</div>

            <section class="seasons">
                <h3>Seasons</h3>
                {% for season in serie.seasons %}
                    <article>
                        <img src="{{ asset('img/posters/seasons/' ~season.poster) }}"
                             alt="{{ serie.name }} season #{{ season.number }}">
                        <h4>Season {{ season.number }}</h4>
                        {% if season.overview %}
                        <div>{{ season.overview }}</div>
                        {% endif %}
                    </article>
                {% endfor %}
            </section>
        </div>

    </section>


{% endblock %}

